target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/


at_script/ui/*.xml
at_script/ui/*.html
at_script/ui/*.png
at_script/ui/*.jpg
at_script/ui/*.jpeg