<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxc.toyota.application.pihd.mybatis.mapper.SystemParameterMapper">
    <select id="findByPrimaryKey" resultType="com.dxc.toyota.application.pihd.models.SystemParameterModel">
        SELECT * FROM TB_M_SYSTEM WHERE ID = #{id} AND STATUS = #{status}
    </select>
    <select id="findByCategory" resultType="com.dxc.toyota.application.pihd.models.SystemParameterModel">
        SELECT * FROM TB_M_SYSTEM WHERE CATEGORY = #{category} AND STATUS = #{status}
    </select>
    <select id="findSystemParameters" resultType="com.dxc.toyota.application.pihd.models.SystemParameterModel" parameterType="com.dxc.toyota.application.pihd.models.SystemParameterModel">
        SELECT * FROM TB_M_SYSTEM
        <where>
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(category)">
                AND CATEGORY = #{category}
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(cd)">
                AND CD = #{cd}
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(value)">
                AND VALUE = #{value}
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(remark)">
                AND REMARK = #{remark}
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(status)">
                AND STATUS = #{status}
            </if>
        </where>
    </select>
    <insert id="save" parameterType="com.dxc.toyota.application.pihd.models.SystemParameterModel" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO TB_M_SYSTEM (CATEGORY,CD,VALUE,REMARK,STATUS,CREATED_BY,CREATED_DT,MODIFIED_BY,MODIFIED_DT)
        VALUES (#{category},#{cd},#{value},#{remark},#{status},#{createdBy},#{createdDt},#{modifiedBy},#{modifiedDt})
    </insert>
    <update id="update" parameterType="com.dxc.toyota.application.pihd.models.SystemParameterModel">
        UPDATE TB_M_SYSTEM
            SET CATEGORY = #{category},
                CD = #{cd},
                VALUE = #{value},
                REMARK = #{remark},
                STATUS = #{status},
                MODIFIED_BY = #{modifiedBy},
                MODIFIED_DT = #{modifiedDt}
        WHERE ID = #{id}
    </update>
    <delete id="delete">
        DELETE FROM TB_M_SYSTEM WHERE ID = #{id}
    </delete>
</mapper>